html[twitch_default] ytd-watch-flexy {
  display: grid !important;
  grid-template-columns: 1fr auto !important;
  height: calc(100vh - 56px) !important;
  /* align-items: center !important;
  justify-content: center !important; */

  /* display: flex !important; */
}

html[twitch_default] #columns {
  min-width: 0px !important;
  padding-top: 0px !important;
  grid-column: 2;
  grid-row: 1;
  overflow-y: scroll;
  height: calc(100vh - 56px) !important;
  max-width: 448px !important;
}

html[twitch_default] #primary {
  max-width: 448px !important;
  min-width: 0 !important;
  margin: 0 !important;
  padding: 0 12px 0 12px !important;
  height: 100% !important;
}

html[twitch_default] #secondary {
  display: none;
}

html[twitch_default] #full-bleed-container {
  grid-column: 1;
  grid-row: 1;
  max-height: none !important;
  height: calc(100vh - 56px) !important;
}
/* //79 */
html[twitch_default] #player-full-bleed-container {
  height: calc(100vh - 56px) !important;
  max-height: none !important;
  /* grid-column: 1;
  grid-row: 1; */
}

html[twitch_default] #player-container {
  width: 100% !important;
  height: 100% !important;
}

html[twitch_default] #ytd-player {
  border-radius: 0 !important;
}

html[twitch_default] #columns {
  margin: 0 !important;
}
html[twitch_default] #full-bleed-container::-webkit-scrollbar,
html[twitch_default]::-webkit-scrollbar {
  display: none;
}

html[twitch_default] #primary::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

html[twitch_default] #primary::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909090;
}

html[twitch_default] #columns::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

html[twitch_default] #columns::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #909090;
}
